.layout img {
  margin: auto;
  max-width: 98%;
  display: block;
  height: auto;
}

.layout h1,
.layout h2 {
  text-align: center;
}

.layout a {
  margin: auto;
  display: block;
  height: auto;
  width: auto;
  text-align: center;
  box-align: absolute;
  color: #A62302; /* american flag */
}

.layout al {
  margin: auto;
  display: block;
  height: auto;
  width: auto;
  text-align: center;
  box-align: absolute;
  color: #012866; /* iran aryan */
}

.layout p {
  text-align: center;
  text-wrap: balance;
  max-width: auto;
  max-height: auto;
  border: 0 transparent; /* Adds a bounding box */ 
  padding: 0; /* Adds padding around the text */
  color: #A62302;  
}

.layout n {
  text-align: center;
  text-wrap: balance;
  max-width: auto;
  max-height: auto;
  border: 0 transparent; /* Adds a bounding box */ 
  padding: 0; /* Adds padding around the text */
  color: #f3753b; /* safron */
}
