.layout img {
  margin: auto;
  max-width: 98%;
  display: block;
  height: auto;
}

.layout h1,
.layout h2 {
  text-align: center;
}

.layout a {
  margin: auto;
  display: block;
  height: auto;
  width: auto;
  text-align: center;
  box-align: absolute;
  color: #A62302; 
}

.layout al {
  margin: auto;
  display: block;
  height: auto;
  width: auto;
  text-align: center;
  box-align: absolute;
  color: #A62302; 
}

.layout p {
  text-align: center;
  text-wrap: balance;
  max-width: auto;
  max-height: auto;
  border: 0 transparent; 
  padding: 0; 
  color: #A62302;  
}

.layout n {
  text-align: center;
  text-wrap: balance;
  max-width: auto;
  max-height: auto;
  border: 0;
  padding: 0; 
  color: #A62302; 
}
